$hero-slider-font-family: "proxima-nova", "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, "sans-serif";
$hero-slider-text-color: black;

@media only screen and ( min-width: $screen-md)
{
   body {
    max-width: 1250px;
    margin: 0 auto;
    background-color: #ededed;
  }
}
@media only screen and ( min-width: $screen-md){
  .logo-container a img:nth-child(1){
    width: 290px;
    height: 30px;
    margin-top: 10px;
    margin-left: 12px;
  }
}
@media only screen and ( min-width: $screen-xs){
  .logo-container a img:nth-child(2){
    width: 185px;
    height: 19px;
    margin-top: 9px;
    margin-left: 10px;
  }
}

#hero {

  .hero-slide {

    img {
      width: 100%;
    }

    .carousel-caption {
      font-family: $hero-slider-font-family;
      color: $hero-slider-text-color;
      text-shadow: none;

      text-align: left;

      top: 13%;
      left: 7%;

      padding: 0;

      &.slide-2 {
        top: 8%;
      }

      .hero-slider-title {
        font-size: 60px;
        font-weight: bold;

        line-height: 0.85;

        text-align: left;

        sup {
          font-size: 35px;

          @media (max-width: $screen-sm-max) {
            font-size: 30px;
          }
        }

        @media (max-width: $screen-sm-max) {
          font-size: 40px;
        }

      }
      .hero-slider-subtitle {
        font-size: 18px;
        font-weight: lighter;

        line-height: 1.25;

        text-align: left;

        padding-top: 20px;
        padding-bottom: 30px;

        &.slide-1 {
          width: 275px;

          @media (max-width: $screen-sm-max) {
            width: 200px;

            padding-bottom: 25px;
          }

          @media (min-width: $screen-md) and (max-width: $screen-md-max) {
            font-size: 17px;
          }
        }
        &.slide-2 {
          width: 350px;

          padding-bottom: 60px;

          @media (max-width: $screen-sm-max) {
            width: 200px;

            padding-bottom: 15px;
          }

          @media (min-width: $screen-md) and (max-width: $screen-md-max) {
            width: 310px;
          }
        }

        @media (max-width: $screen-sm-max) {
          font-size: 13px;

          padding-top: 4px;
        }
      }
    }
  }

  .hero-button {
    font-size: 15px;
    padding: 7px 15px;
  }

  .hero-footer {
    font-family: $hero-slider-font-family;
    color: $hero-slider-text-color;
    text-shadow: none;

    text-align: center;

    p {
      padding-bottom: 5px;
    }

    .hero-footer-title {
      font-size: 22px;
      font-weight: bold;

      padding-top: 5px;
    }
    .hero-footer-subtitle {
      font-weight: lighter;

      line-height: 1;

      padding-left: 5px;
      padding-right: 5px;
    }
  }


}
main {
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.bb-slider {
  .slick-next , .slick-prev {
    display: none;
  }
}

#hero {
  .slick-next, .slick-prev
  {
    @media (min-width: $screen-xs) 
    {  
      display: block !important;
      height: 18%;
      background: transparent;
       .left-arrow, .right-arrow {
           height: 28%;
           top: 23%;
           @media (min-width: $screen-sm-max) {
              height: 50%;
           }
       }
    }
  }
}