#nutrition {

  sup {
    top: -.3em;
  }

  .nutrition-slide {

    .carousel-caption {
      color: black;
      line-height: 1;
      width: 100%;
      padding-bottom: 4px;
      @media (min-width: $screen-sm) {
        color: white;
        padding-left: 6%;
        top: 20%;
        width: 310px;
        margin-left: 0;
        padding-bottom: 20px;
      }
      @media (min-width: $screen-md) {
        padding-left: 4%;
        top: 4%;
        max-width: 535px;
        width: 535px;
      }

      .nutrition-logo {
        width: auto;
        width: initial;
        padding-bottom: 24px;
        @media (min-width: $screen-md) {
          padding-bottom: 42px;
        }
      }

      .nutrition-slider-title {
        width: 85%;
        max-width: 272px;
        margin: 0 auto;

        @media (min-width: $screen-sm) {
          width: 309px;
          max-width: 534px;
          font-size: $slider-title-size-tablet - 4px;
        }

        @media (min-width: $screen-md) {
          width: 534px;
          font-size: $slider-title-size-desktop;
        }

      }
      .nutrition-slider-subtitle {
        max-width: 329px;
        margin: 0 auto;

        @media (min-width: $screen-sm) {
          width: 248px;
          max-width: 474px;
          margin: 0;
          font-size: $slider-subtitle-size-tablet - 1px;
        }

        @media (min-width: $screen-md) {
          width: 474px;
          font-size: $slider-subtitle-size-desktop;
        }
      }
    }
  }

}

