.bod-section-header {
    .section-header {
      @media (min-width: $screen-sm) {
        margin-top: 5px;
      }
      @media (min-width: $screen-lg) {
        margin-top: 10px;
      }
      
      div {
        height: 40px;
        @media (min-width: $screen-sm) {
          height: 60px;
        }
        @media (min-width: $screen-md) {
          height: 85px;
        }
      }
  }
}

#bod-section {
  z-index: 10;
  position: relative;
  .responsive-image-wrapper {
    @media (min-width: $screen-lg){
      padding-bottom: 38%;
    }
  }
  .bod-slide {

    .carousel-caption {
      text-align: left;
      left: 8%;
      bottom: 5%;
      padding: 0;
      @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        top: 12%;
      }
      @media (min-width: $screen-lg) {
        top: 14%;
      }

      .bod-slider-title {
        font-size: $slider-title-size-tablet - 1px;
        font-weight: 600;
        line-height: 0.90;
        text-align: left;

        @media (min-width: $screen-md) {
          font-size: $slider-title-size-desktop + 1px;
        }

      }
      .bod-slider-subtitle {
        line-height: 1.25;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 4%;
        width: 290px;
        font-size: $slider-subtitle-size-tablet;
        @media (min-width: $screen-sm) {
          margin-top: 1%;
        }
        @media (min-width: $screen-md) {
          font-size: $slider-subtitle-size-desktop - 1px;
          width: 350px;
          margin-bottom: 4.0%;
          padding-top: 5px;
          letter-spacing: 0.025em;
        }
        sup {
          font-size: 15px;
          top: -.1em;
        }
      }

      .streamHeader {
        margin-top: 1%;
        font-size: 12px;
        margin-bottom: 5px;
        font-weight: lighter;
        @media (min-width: $screen-md) {
          font-size: 17px;
          margin-top: 4.6%;
        }
      }

      .streamSubHeader {
        font-size: 12px;
        padding-left: 0px;
        margin-top: 5px;
        font-weight: lighter;
         @media (min-width: $screen-md) {
          font-size: 16px;
          padding-left: 0px;
          padding-top: 1%;
        }
      }

      .streaming-services {
        width: 50%;
        margin-top: 5px;

        @media (max-width: $screen-sm-max) {
          width: 60%;
          margin-top: 2px;
        }
      }
    }
  }
  .slider-footer {

    .bod-footer {
      color: black;
      text-shadow: none;

      text-align: center;

      p {
        padding-bottom: 5px;
      }

      .bod-footer-title {
        font-size: 22px;
        font-weight: bold;

        padding-top: 5px;
      }
      .bod-footer-subtitle {
        font-weight: lighter;

        line-height: 1;

        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .bb-slideup {

      .slideup-bod {

        .slideup-title {
          padding-top: 5px;
          font-weight: 600;
          font-size: 14px;
          max-width: 350px;
          margin: 0 auto;
          line-height: 16px;
          @include respond-to(375){
            font-size: 15px;
          }
          .dots {
            display: inline-block;
          }
          .days-text {
            display: none;
          }
        }

        .slideup-text {
          width: 100%;
          max-width: 320px;
          margin: 4px auto;
          font-weight: 100;
          font-size: 12.5px;
          line-height: 1.2;
          span {
            display: block;
          }
          sup {
            top: -0.2em;
          }
        }

        .slideUpClosed {
          max-width: 400px;
          margin: 0 auto;
        }

        .streamHeader {
         margin-top: 5px;
         margin-bottom: -5px;
         font-size: 12px;
        }

        .streamSubHeader {
          font-size: 12px;
          margin-bottom: 0px;
        }

        .slideup-image {
          margin-top: 16px;
          margin-bottom: 1px;
          max-width: 82%;
        }

        .slideup-btn {
          margin-bottom: 7px;
          margin-top: 10px;
          padding: 5px 17px;
          font-size: 12px;
        }
      }
      &.open {
        .slideup-bod {
          .slideup-title {
            .dots {
              display: none;
            }
            .days-text {
              display: block;
            }
          }
        }
      }
  }

.slick-slider {
  background-color: rgba(0,0,0,0.8);
}
 .slider-container {
    slick {
      .slick-list {
        background-color: #fff;
      }
      .view-more {
        overflow: hidden;
        img {
          width: 125%;
          margin-left: -12.5%;
        }
        .btn-click-here {
            margin-bottom: 16%;
        }
      }
    .slick-next , .slick-prev {
       background-color: rgba(0,0,0,0.8);
      }
    }
      .slick-next .right-arrow,.slick-prev .left-arrow {
        height: 13%;
        @media (min-width: 801px) {
          display: none;
      }
    }
  }
}
