.responsive-image-wrapper {
  position: relative;
  height: 0;

  &.hero-slider {
    padding-bottom: 168.89381%;

    @media (min-width: $screen-xs) {
      padding-bottom: percentage(813 / 565);
    }
    @media (min-width: $screen-sm) {
      padding-bottom: percentage(300 / 667);
    }
    @media (min-width: $screen-md) {
      padding-bottom: percentage(597 / 1350);
    }
  }

  &.section-slider {

    padding-bottom: percentage(460 / 375);

    @media (min-width: $screen-sm) {
      padding-bottom: percentage(257 / 667);
    }
    @media (min-width: $screen-md) {
      padding-bottom: percentage(513 / 1350);
    }
  }
  
  img{
    top:0;
    left:0;
    width: 100%;
    height: auto;
  }
}